Source: busybox
Priority: optional
Section: utils
Maintainer: Yauheni Kaliuta <yauheni.kaliuta@nokia.com>
Original-Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Original-Uploaders: Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>> 5), lsb-release, quilt
Standards-Version: 3.7.3

Package: busybox
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: busybox-static, findutils, gzip, hostname, ifupdown, net-tools, procps, sed, tar, coreutils, grep, mount, login, debianutils, util-linux, nawk, mawk, gawk, elvis-tiny, mktemp, bsdutils, sysvinit-utils, iputils-ping, psmisc, time
Replaces: busybox-static, findutils, gzip, hostname, ifupdown, net-tools, procps, sed, tar, coreutils, grep, mount, login, debianutils, util-linux, mktemp, bsdutils, sysvinit-utils, dnsutils, iputils-ping, psmisc, time
Provides: busybox-static, findutils, gzip, hostname, ifupdown, net-tools, procps, sed, tar, coreutils, grep, mount, login, debianutils, util-linux, vi, awk, nawk, mawk, gawk, mktemp, bsdutils, sysvinit-utils, iputils-ping, psmisc, time
Description: Tiny utilities for small and embedded systems
 BusyBox combines tiny versions of many common UNIX utilities into a single
 small executable. It provides minimalist replacements for the most common
 utilities you would usually find on your desktop system (i.e., ls, cp, mv,
 mount, tar, etc.). The utilities in BusyBox generally have fewer options than
 their full-featured GNU cousins; however, the options that are included
 provide the expected functionality and behave very much like their GNU
 counterparts.
 .
 This package installs the BusyBox binary but does not install symlinks
 for any of the supported utilities. You can use /bin/busybox --install
 to install BusyBox to the current directory (you do not want to do this
 in / on your Debian system!).

Package: busybox-dbg
Architecture: any
Depends: busybox (= ${Source-Version})
Section: devel
Description: Tiny utilities for small and embedded systems (debug version)
 BusyBox combines tiny versions of many common UNIX utilities into a single
 small executable. It provides minimalist replacements for the most common
 utilities you would usually find on your desktop system (i.e., ls, cp, mv,
 mount, tar, etc.). The utilities in BusyBox generally have fewer options than
 their full-featured GNU cousins; however, the options that are included
 provide the expected functionality and behave very much like their GNU
 counterparts.
 .
 This package installs the BusyBox binary with debug symbols
